<div ng-controller="common_Ctr">
</div>

<div ng-controller="musicianList_Ctr">

    <div class="all-wrap">
        <!--키워드-->
        <div class="col-xs-12" style="overflow:hidden; padding-top:15px; ">
            <div class="search-input">
                <input type="text" class="form-control" placeholder="키워드" ng-keydown="search_go($event);" ng-model="search_word" id="search_word">
                <button type="button" class="btn search-btn" ng-click="search_go2();"><img src="/src/assets/img/searchtool.png">
                </button>
            </div>
        </div>


        <!--리스트-->
        <div class="wrapper">
            <!--뮤지션-->


            <div style="padding:35% 0;"  id="list_loading">
                <img src="/src/assets/img/page-loading.GIF" class="center-block" style="width:50px; margin:15px auto;">
            </div>


            <div class="box-ing musician-box" ng-repeat="musician in musician_list_copy" ng-click="m_musician_detail_go(musician.memberPK);">

                <div class="musician-head">
                    <p><!--감미로운 발라드에 자신있습니다--> {{musician.memberInfo}}</p>

                </div>
                <div class="box-body">


                    <div class="col-xs-4 no-padding"><div class="user-img">
                        <img src="/src/assets/img/no-img.png" class="img-responsive center-block" ng-if="musician.memberPicture == null">
                        <img src="/src/assets/img/{{musician.memberPicture}}" class="img-responsive center-block" ng-if="musician.memberPicture !== null">
                    </div> </div>


                    <div class="col-xs-8">
                        <p class="musician-name">
                            <span>{{musician.memberNickname}}</span>|
                            <span>{{musician.memberName}}</span>
                        </p>
                        <div class="tag-wrap">
                            <ul class="list-unstyled list-inline ul-tag">
                                <li  ng-repeat="server_tag in musician.server_tag">
                                    {{server_tag.tagName}}
                                </li>
                                <!--<li>
                                    반주
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-show="musician_list[0].notdata == 'none' && list_count == 1 " class="hidden" id="no_search">
                검색된 결과가 존재하지 않습니다
            </div>


            <button class="btn btn-mint btn-sm btn-block hidden" ng-click="list_add();" id="add_button">더보기</button>
            <!--로딩이미지-->

        </div>
    </div>

</div>









