<div ng-controller="common_Ctr">
</div>

<div ng-controller="recruitDetail_Ctr"   class="hidden" id="recuit_detail_space"

    <div class="all-wrap">
        <!--키워드-->
        <div class="col-xs-12">
            <button class="btn btn-block btn-back" ng-click="recruit_list_go();">
                <img src="/src/assets/img/back.png" alt="뒤로"> 프로젝트 찾기로 돌아가기
            </button>
        </div>


        <!--리스트-->
        <div class="wrapper">
            <!--모집중-->
            <div class="box-ing pro-detail">
                <!--모집중 타이틀-->
                <div class="box-head">

                    <div class="col-xs-6">
                        <p class="text-left">
                            <span><!--단기-->{{recruit_info[0].categoryFirstName}}</span> >
                            <span><!--반주-->{{recruit_info[0].categorySecName}}</span>
                        </p>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span><!--6-->{{recruit_info[0].apply_count}}</span> 명 지원
                        <!--프리미엄 이미지-->
                        <img src="/src/assets/img/premium-ribon.png" alt="프리미엄" class="pull-right premium-img-sm" ng-if="recruit_info[0].isPM == '1' ">
                    </div>
                </div>
                <!--모집중 내용-->
                <div class="box-body">
                    <div class="border">
                        <p class="col-xs-12 no-padding box-title">
                            <img src="/src/assets/img/premiun-badge.png" style="width:21px;" ng-if="recruit_info[0].isPM =='1' ">
                            <!--축가 반주자 찾아요-->
                            {{recruit_info[0].recruitTitle}}
                        </p>
                        <p ng-if="apply_check[0].notdata !== 'none'">
                        지원 했음
                        </p>
                    </div>
                    <div class="border">
                        <dl class="col-xs-12 pro-info">
                            <dt>
                                <img src="/src/assets/img/kr-won.png" class="img-responsive pull-left"> 예상금액
                            </dt>
                            <dd>
                                <!--100,000-->
                                {{recruit_info[0].recruitPrice}}
                            </dd>
                            <dt>
                                <img src="/src/assets/img/sendwatch.png" class="img-responsive pull-left">모집마감
                            </dt>
                            <dd>
                                <!--2015년 8월 7일-->
                                {{recruit_info[0].endDate}}
                            </dd>
                            <dt>
                                <img src="/src/assets/img/map-img.png" class="img-responsive pull-left">진행지역
                            </dt>
                            <dd>
                                <!--서울-->
                                {{recruit_info[0].locationName}}
                            </dd>
                        </dl>
                    </div>

                    <div class="border">
                        <p class="pro-title">
                            프로젝트 내용
                        </p>
                        <p class="pro-p" ng-bind-html="recruit_info[0].recruitContents">
                            <!--/진행방식/2회 연습과 미팅/현재상황/곡만 선정한 상태로 /상세내용/ 이적이 부른 다행이다를 부를 생각입니다.-->
                        </p>
                    </div>
                    <!--모집중 태그-->
                    <div class="box-footer">
                        <ul class="list-unstyled list-inline ul-tag">
                            <li ng-repeat="server_tag in recruit_info[0].server_tag">
                                <!--다행이다-->
                                {{server_tag.tagName}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--관리자의견-->
            <div class="box-ing sub-detail">
                <div class="sub-title">
                    관리자 의견
                </div>
                <div class="sub-body" style="margin-top:0; padding:10px 15px;">
                    <p ng-bind-html="recruit_info[0].adminComment">
                        <!--1. 단기축가연주 <br>2. 식대지원 <br>3.결혼식 전반의 BGM도 지원-->
                        <!--{{recruit_info[0].adminComment}}-->
                    </p>
                </div>
            </div>

            <!--문의-->
            <div class="box-ing sub-detail" style="overflow:hidden;">
                <div class="sub-title">
                    문의
                </div>
                <!--문의글1-->


                <div class="sub-body" ng-repeat="recruit_reply in recruit_reply">
                    <div class="reple-base">
                    <div class="col-xs-3 no-padding">
                        <div class="user-img">
                            <img src="/src/assets/img/no-img.png" class="img-responsive center-block" ng-if="recruit_reply.memberPicture == null">
                            <img src="/src/assets/img/{{recruit_reply.memberPicture}}" class="img-responsive center-block" ng-if="recruit_reply.memberPicture !== null">
                        </div>
                    </div>
                    <div class="col-xs-9 no-padding pro-qna">
                        <p class="col-xs-5 no-padding pro-qna-nic text-gray" ng-if="recruit_info[0].memberPK == recruit_reply.memberPK">
                            클라이언트
                        </p>
                        <p class="col-xs-5 no-padding pro-qna-nic" ng-if="recruit_info[0].memberPK !== recruit_reply.memberPK">
                            <!--닉네임-->
                            {{recruit_reply.memberNickname}}
                        </p>
                        <p class="col-xs-7 no-padding text-right pro-qna-cal">
                            <!--2015.08.07 10:38-->
                            {{recruit_reply.insertDate}}
                        </p>
                        <p class="col-xs-12 no-padding pro-qna-detail">
                            <!--어떠한 느낌의 반주를 원하시는지 먼저 알고 싶네요 그리고 피아노 반주말고 기타반주는 어떠신지 궁금하네요-->
                            {{recruit_reply.qnaContents}}
                        </p>
                    </div>
                    </div>

                    <!--댓글-->
                    <div class="col-xs-12 reple-wrap" style="overflow:hidden;">
                        <div class="col-xs-1 no-padding">
                            <img src="/src/assets/img/sub-nav.png" style="width:14px;">
                        </div>


                        <div class="col-xs-11 no-padding">
                            <!--댓글쓰기-->
                            <div class="input-group">
                                <textarea rows="1" class="form-control input-sm" id="re_reply{{recruit_reply.qnaPK}}"></textarea>
							<span class="input-group-btn">
								<button class="btn btn-main btn-sm" type="button" ng-click="re_reply_insert(recruit_reply.qnaPK)">
                                    등록
                                </button> </span>
                            </div><!--/댓글쓰기-->


                            <!--댓글보기-->
                            <div class="reple-group" ng-repeat="re_reply in recruit_reply.re_reply">
                                <div class="col-xs-2 no-padding">
                                    <div class="user-img reple-user-img">
                                        <img src="/src/assets/img/no-img.png" class="img-responsive" ng-if="re_reply.memberPicture == null">
                                        <img src="/src/assets/img/{{re_reply.memberPicture}}" class="img-responsive" ng-if="re_reply.memberPicture !== null">
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding pro-qna">
                                    <p class="col-xs-5 no-padding pro-qna-nic text-gray" ng-if="recruit_info[0].memberPK == re_reply.memberPK">
                                        클라이언트
                                    </p>
                                    <p class="col-xs-5 no-padding pro-qna-nic" ng-if="recruit_info[0].memberPK !== re_reply.memberPK">
                                        {{re_reply.memberNickname}}
                                    </p>

                                    <p class="col-xs-7 no-padding text-right pro-qna-cal">
                                        <!--2015.08.07 10:38-->
                                        {{re_reply.insertDate}}
                                    </p>
                                    <p class="col-xs-12 no-padding pro-qna-detail">
                                        <!--화려한기교가 많은 반주 원합니다. 피아노는 필수이고 기타는 추가적으로 있으면 좋겠네요-->
                                        {{re_reply.qnaContents}}
                                    </p>
                                </div>
                            </div>


                        </div>


                    </div>
                    <!--/댓글-->
                </div>


                <!--글 작성-->
                <div class="sub-body my-reple">
                    <div class="col-xs-3 no-padding">
                        <div class="user-img">
                            <img src="/src/assets/img/user.jpg" class="img-responsive center-block">
                        </div>
                    </div>
                    <div class="col-xs-9 no-padding pro-qna">
                        <div class="input-group">
                            <textarea rows="3" class="form-control" placeholder="프로젝트 문의애 작성한 내용은 수정 및 삭제가 불가능 합니다" id="reply"></textarea>
							<span class="input-group-btn">
								<button class="btn btn-main btn-sm" type="button" ng-click="reply_insert();">
                                    작성
                                    <br>
                                    하기
                                </button> </span>
                        </div>
                    </div>
                </div>
                <p style="color:#e0654f; padding:14px 18px; font-size:12px; border-top:1px solid #DDDDDD; margin-bottom:0;">
                    이메일, 전화번호 등을 게시하여 직거래를 유도하는 경우, 서비스 이용에 제재를 받을 수 있습니다
                </p>
            </div>
        </div>

        <div class="apply">
            <a href="#" ng-click="apply_click('true');" ng-show="login_on == true && recruit_info[0].isEnd !== '1'">
                <p><span>{{login_success[0].apply_count}}</span>/<span>{{login_success[0].max_apply}}</span></p><p>지원</p>
            </a>
            <a href="#" ng-click="apply_click('false');" ng-show="login_on == false  && recruit_info[0].isEnd !== '1'">
                <p style="font-size: 10px;">로그인 후 이용</p>
            </a>
            <a href="#" ng-click="apply_click('end');" ng-show="recruit_info[0].isEnd == '1'">
                <p style="font-size: 10px;">마감</p>
            </a>
        </div>

        <div class="hidden" data-toggle="modal" data-target="#myModal" id="apply_modal">
        </div>

        <!-- 지원서 작성 모달 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog musiter-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal_close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">지원서 작성</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label for="apply_title">제목</label>
                                <input type="text" class="form-control" id="apply_title" placeholder="제목을 입력하세요" ng-model="apply_title">
                            </div>
                            <div class="form-group" style="overflow:hidden;">
                                <label class="col-xs-12 no-padding" for="apply_price">예상금액</label>
                                <span class="col-xs-10 no-padding">
                                    <input type="text" class="form-control" placeholder="수수료 10% 포함금액을 적어주세요" id="apply_price" ng-model="apply_price" onkeyup="if(isNaN(this.value)) {alert('숫자만 입력해 주세요.');this.value=''};">
                                </span>
                                <span class="col-xs-2 no-padding text-center" style="color:#676767; padding-top:5px;">만원</span>
                            </div>
                            <div class="form-group" style="clear:both;">
                                <label for="apply_content">상세내역</label>
                                <textarea class="form-control" rows="5" placeholder="지원내역을 적어주세요" id="apply_content" ng-model="apply_content"></textarea>
                                <select class="form-control input-sm" style="margin-top:5px;" ng-change="apply_select_click();" ng-model="apply_select">
                                    <option value="none">==이전 지원서 불러오기 == </option>
                                    <option ng-repeat="select_list in apply_select_list" value="{{select_list.applyPK}}" ng-show="apply_select_list[0].notdata !=='none'">{{select_list.applyTitle}}</option>
                                </select>
                            </div>

                            <p class="text-notice">이메일,전화번호등을 게시하여 직거래를 유도하는 경우, 서비스 이용에 제재를 받을 수 있으니 유의하여 주시기 바랍니다</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-main" ng-click="apply_insert();">지원하기</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>





    <div style="padding-top: 30%; padding-bottom: 300px;"  id="list_loading">
        <img src="/src/assets/img/page-loading.GIF" class="center-block" style="width:50px; margin:15px auto;">
    </div>





