<div ng-controller="common_Ctr">
</div>

<div ng-controller="recruitList_Ctr">
    <div class="all-wrap">
        <!--분류-->
        <div class="search-wrap">

            <div class="col-xs-2 no-padding">
                <button class="btn btn-kword active" id="total_button" ng-click="category_total_click();">
                    전체
                </button>
            </div>
            <div class="col-xs-4 no-padding">
                <div class="pull-right" style="width:100px; overflow:hidden;">
                    <button ng-repeat="category1_list in category1_list"  class="btn btn-kword" id="category1_{{category1_list.categoryFirstPK}}" ng-click="category1_click(category1_list.categoryFirstPK);">
                        {{category1_list.categoryFirstName}}
                    </button>
                    <!--<button class="btn btn-kword">
                        정기
                    </button>
                    <button class="btn btn-kword">
                        단기
                    </button>-->
                </div>
            </div>
            <div class="col-xs-6 no-padding" style="padding-right:5px;">
                <button class="btn btn-kword btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="category2_class">
                    {{category2_name}}
                </button>
                <ul class="dropdown-menu cate-select" role="menu" aria-labelledby="dLabel">
                    <li id="category2_total">
                        <a href="#" ng-click="category2_click('total')">전체</a>
                    </li>
                    <li ng-repeat="category2_list in category2_list" id="category2_{{category2_list.categorySecPK}}">
                        <a href="#" ng-click="category2_click(category2_list.categorySecPK); ">{{category2_list.categorySecName}}</a>
                    </li>
                </ul>



                <!--<div class="pull-right" style="width:150px;">
                    <button class="btn btn-kword">
                        세션
                    </button>
                    <button class="btn btn-kword">
                        보컬
                    </button>
                    <button class="btn btn-kword">
                        총괄
                    </button>
                </div>--->
            </div>

        </div>

        <!--키워드-->
        <div class="col-xs-12" style="overflow:hidden; padding-top:15px; ">
            <div class="search-input">
                <input type="text" class="form-control" placeholder="키워드" ng-keydown="search_go($event);" ng-model="search_word" id="search_word">
                <button type="button" class="btn search-btn" ng-click="search_go2();"><img src="/src/assets/img/searchtool.png">
                </button>
            </div>
        </div>


        <!--리스트-->
        <div class="wrapper">

            <!--로딩이미지-->

            <div style="padding:35% 0;"  id="list_loading">
                <img src="/src/assets/img/page-loading.GIF" class="center-block" style="width:50px; margin:15px auto;">
            </div>

            <div ng-repeat="recruit_list in recruit_list_copy | filter:order">

                <!--<div ng-if ="$index == 0">cccccccccccccccccascsac
                {{ccs('1');}}</div>
                <div ng-if = "$index == recruit_list_copy.length-1">
                 {{ccs('2');}}
                </div>-->


                <!--모집중-->
                <div class="box-ing" ng-class="box_end(recruit_list.isEnd);">
                    <!--모집중 타이틀-->
                    <div class="box-head">
                        <div class="col-xs-6">
                            <p class="title" ng-if="recruit_list.isEnd == null">모집중</p>
                            <p class="title" ng-if="recruit_list.isEnd == '1'">마감</p>
                            <img src="/src/assets/img/premiun-badge.png" class="img-responsive" alt="프리미엄" ng-if="recruit_list.isPM == '1' && recruit_list.isEnd == '1'">
                            <img src="/src/assets/img/premiun-badge.png" class="img-responsive" alt="프리미엄" ng-if="recruit_list.isPM == '1' && recruit_list.isEnd == null">
                        </div>
                        <div class="col-xs-6">
                            <p class="text-right">
                                <span><!--단기-->{{recruit_list.categoryFirstName}}</span> >
                                <span><!--반주-->{{recruit_list.categorySecName}}</span>
                                <img src="/src/assets/img/premium-ribon.png" alt="프리미엄" class="pull-right premium-img" ng-if="recruit_list.isPM == '1' && recruit_list.isEnd == null">
                                <img src="/src/assets/img/premium-ribon-fin.png" alt="프리미엄" class="pull-right premium-img" ng-if="recruit_list.isPM == '1' && recruit_list.isEnd == '1'">
                            </p>
                        </div>
                    </div>
                    <!--모집중 내용-->
                    <div class="box-body">

                        <a href="/m_recruit_detail?{{recruit_list.recruitPK}}&list={{list_count}}">
                            <p class="col-xs-9 no-padding box-title">
                                <!--축가 반주자 찾아요-->
                                {{recruit_list.recruitTitle}}
                            </p>
                            <p class="col-xs-3 no-padding box-area">
                                <!--서울-->{{recruit_list.locationName}}
                            </p>
                            <div class="box-detail">
                                <p class="col-xs-8 no-padding" ng-bind-html="recruit_list.recruitContents">
                                    <!--모집 내용-->
                                </p>
                                <ul class="col-xs-4 no-padding list-unstyled ul-info">
                                    <li>
                                        <img src="/src/assets/img/kr-won.png" class="img-responsive pull-left">	{{recruit_list.recruitPrice}}
                                    </li>
                                    <li>
                                        <img src="/src/assets/img/sendwatch.png" class="img-responsive pull-left">{{recruit_list.result_time}}일 남음
                                    </li>
                                    <li>
                                        <img src="/src/assets/img/music-icon.png" class="img-responsive pull-left">{{recruit_list.apply_count}}명 지원
                                    </li>
                                </ul>
                            </div>
                            <!--모집중 태그-->
                            <div class="box-footer">
                                <ul class="list-unstyled list-inline ul-tag">
                                    <!--<li>다행이다</li><li>보컬</li><li>피아노</li><li>축가</li><li>반주</li>-->
                                    <li ng-repeat="server_tag in recruit_list.server_tag">
                                        {{server_tag.tagName}}
                                    </li>
                                </ul>
                            </div>
                        </a>

                    </div>

                </div>



            </div>

            <div ng-show="(recruit_list_copy | filter:order).length == 0" class="hidden" id="no_search">
                검색된 결과가 존재하지 않습니다
            </div>





            <button class="btn btn-mint btn-sm btn-block hidden" ng-click="list_add();" id="add_button">더보기</button>




        </div>
    </div>
</div>









